<div class="profile-container d-flex">
  <div class="col-5 px-0">
    <div class="custom-card basic-info">
      <header class="d-flex justify-content-between align-items-center">
        <h5 class="secondray title col m-0 p-0">Basic info</h5>
        <p class="col gray text-right m-0 p-0">Created at 12 march 2019</p>
      </header>
      <div class="d-flex align-items-center">
        <p class="col-2 p-0 gray">Name in engilish</p>
        <p class="col-10"></p>
      </div>
    </div>
  </div>
  <div class="col-7 pr-0 second-part">
    <!-- Service card -->
    <div class="custom-card Services">
      <header class="d-flex padding justify-content-between align-items-center">
        <h5 class="secondray title col m-0 p-0">Service</h5>
        <p class="col text-right m-0 p-0"><i class="material-icons gray">menu</i></p>
      </header>
      <div class="content d-flex flex-wrap">
        <div class="service-item col-4 text-center">
          <p class="service-name">sim cards</p>
          <div class="service-icon">
            <img src="./../../../assets/icons/nounSimCards663821.svg" alt="">
          </div>
        </div>
        <div class="service-item col-4 text-center">
          <p class="service-name">Apartment Rental</p>
          <div class="service-icon">
            <img src="./../../../assets/icons/nounRent1839701.svg" alt="">
          </div>
        </div>
        <div class="service-item col-4 text-center">
          <p class="service-name">Authentication</p>
          <div class="service-icon">
            <img src="./../../../assets/icons/nounGuarantee357448.svg" alt="">
          </div>
        </div>
        <div class="service-item col-4 text-center">
          <p class="service-name">Car Rental</p>
          <div class="service-icon">
            <img src="./../../../assets/icons/nounRent1839731.svg" alt="">
          </div>
        </div>
        <div class="service-item col-4 text-center">
          <p class="service-name">Passport service</p>
          <div class="service-icon">
            <img src="./../../../assets/icons/nounPassport185599.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <!-- Documents card -->
    <div class="custom-card padding">
      <header class="d-flex justify-content-between align-items-center">
        <h5 class="secondray title col m-0 p-0">Documents</h5>
        <p class="col text-right m-0 p-0"><i class="material-icons gray">menu</i></p>
      </header>
    </div>
    <!-- Medical bills card  -->
    <div class="custom-card padding">
      <header class="d-flex justify-content-between align-items-center">
        <h5 class="secondray title col m-0 p-0">Medical bills</h5>
        <p class="col text-right m-0 p-0"><i class="material-icons gray">menu</i></p>
      </header>
    </div>
    <!-- Timeline card -->
    <div class="custom-card padding">
      <header class="d-flex justify-content-between align-items-center">
        <h5 class="secondray title col m-0 p-0">Timeline</h5>
        <p class="col text-right m-0 p-0"><i class="material-icons gray">menu</i></p>
      </header>
    </div>
  </div>
</div>