.day-content{
    width: 100%;
    height: 125px;
    padding: 11px;
    p{
        margin-bottom: 0;
    }
    .day-number{
        font-size: 14px;
    }
    .event-time,.more{
        font-size: 12px;
    }
    .event-title{
        font-size: 12px;
        font-weight: bold;
        margin-left: 4px;
    }
    .more{
        text-decoration: underline;
    }
}