<div class="table-container custom-card">
    <div class="header d-flex justify-content-between align-items-center">
        <h5 class="title secondray">Dashboard</h5>
        <div class="selected-month d-flex align-items-center">
            <i class="material-icons" (click)="monthBackword()">
                keyboard_arrow_left
            </i>
            <span>{{selectedMonth}},{{selectedYear}}</span>
            <i class="material-icons" (click)="monthForward()">
                keyboard_arrow_right
            </i>
        </div>
        <button class="btn bg-secondaray text-white" (click)="AddEvent($event)">Create event</button>
    </div>
    <app-month-view ></app-month-view>
</div>